div{
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    position: absolute;
    align-items: center;
    /* transform:rotate(45deg);
    transition-property:all ;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s;*/
    transition: all 2s ease-in;
}

@media(max-width:300px){
    div{
        background-color: green;
    }
}

@media(min-width:400px) and (max-width:600px){
    div{
        background-color:red;
    }
}

@media(min-width:600px){
    div{
        background-color: blue;
    }
}

div:active{
    background-color:blueviolet ;
}

div:hover{
          background-color: aqua;
         /* font-size: 70px;*/
         transform: rotate(10000deg);
         /* transform: scalex(2);*/
}