.navbar{
    background-color:pink;
    display:flex;
    justify-content:space-evenly;
}
a{
    text-decoration:none;
    color: red;
}
li{
    list-style:none;
    
}
.outer{
    height: 400px;
    width: 400px;
    background-color: brown;
    display: flex;
    justify-content:center;
    align-items: center;
}
.inner{
       height: 100px;
       width: 100px;
       background-color: pink;
}