
h1{
    color:white;   
}

p{
    color:blue;
}

button{
    color:white;
    background-color:rgb(184, 24, 24) ;
}

body{
    background-color:rgb(211, 31, 31);
}
#headingone{
    color: aqua;
}

#heading{
      text-align: center; 
      text-decoration:underline;  
}


#pixels1{
    font-size: 25px; ;
}
#pixels2{
    font-size: 20px; ;
}
#pixels3{
    font-size: 10px;
}
#heading{
    background-color: pink;
    height: 50px;
    width: 100px;
    border-style: dashed;
    border-color: black;
}
div{
    background-color: pink;
    width: 100px;
    height:100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#radius{
background-color: pink;
    width: 100px;
    height:100px;
   border-color: black;
   border-radius: 50px;
}
#padding{
    background-color: pink;
        width: 100px;
        height:100px;
       border-color: black;
       padding-left:25px;
}

